{% extends "navbar.html" %}
{% block title %}Registro maestro{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block onload %}
{% block body %}
    <section class="vh-100" style="background-image: url('/static/img/registrar_maestro2.jpg'); background-size: cover;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-10">
              <br><br>
              <div class="card shadow-2-strong" style="border-radius: 2rem; background-color: rgb(180, 180, 183, 0.56);">
                <div class="card-body p-5 text-center">
                  <div class="titulo_RM"><h2 id="titulo" style="font-family:'Times New Roman', Times, serif; text-align:center; margin: 0 0 30 0px; color: rgb(2, 2, 2); font-size: 350%;">Registrar maestro</h2></div>
                  <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for m in messages %}
                      <script>
                        Swal.fire({
                          "title": "¡Bien hecho!",
                          "text": "{{m}}",
                          "icon": "success",
                          showCancelButton: true,
                          cancelButtonText: 'Registrar nuevo maestro',
                          cancelButtonColor: 'rgb(15, 225, 15)',
                          confirmButtonText: 'Visualizar maestro',
                          confirmButtonColor: 'rgb(17, 47, 236)'
                        }).then((result) => {
                            if (result.isConfirmed) {
                              window.location.href = "{% url 'listar_maestro' %}";
                            }
                            else{
                                window.location.href = "{% url 'registrar_maestro' %}";
                            }  
                          })
                      </script>
                    {% endfor%}
                  {% endif %}

                  <div class="container"><div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3">
                    <div class="col">
                      <div class="form-floating">
                        {{form.username}}{{form.nombre}}{{form.estado}}
                      <label for="floatingPassword">Nombre maestro</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.trabajo }}
                      <label for="floatingPassword">Trabajo a realizar</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.contacto }}
                      <label for="floatingPassword">Contacto</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.cobro_maestro }}
                      <label for="floatingPassword">Cobro maestro</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.saldo_inicial }}
                      <label for="floatingPassword">Saldo inicial</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.saldo_a_deber }}
                      <label for="floatingPassword">Saldo a deber</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                        {{ form.observacion }}
                      <label for="floatingPassword">Observación</label>
                      </div>
                    </div>
                    </div>
                  </div>
                    <br>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar maestro</button>
                    <br>
                    <br>
                    <a href="{% url 'listar_maestro' %}" type="button" class="btn btn-warning">Volver</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
{% endblock onload %}
{% endblock %}